.formation_container {
  background: white;
  padding: 0.6rem;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0px 15px 32px rgb(0 0 0 / 16%) !important;
  position: relative;
  width: 27%;
  &:hover {
    box-shadow: 0px 15px 32px rgb(0 0 0 / 20%) !important;
  
  }
  .formation_container_head {
    display: flex;
    justify-content: space-between;
    .formation_head_img {
      img {
        width: 35px;
        height: 35px;
        border-radius: 15px;
      }
    }
    .formation_head_label {
      p {
        background: #fffbec;
        color: #fed899;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
      }
    }
  }
  .formation_container_body {
    margin-top: 1.5rem;
    .formation_name {
      font-weight: 500;
      line-height: 1.2;
      margin-left: 1rem;
      font-size: 1.5rem;
    }
    .formation_lvl {
      display: flex;
      padding: 25px 15px 0 15px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      i.fas.fa-trophy {
        color: gold;
      }
    }
  }
  .formation_container_footer {
    padding: 3px 15px 3px 15px;
    progress.progress.is-danger {
      width: 100%;
    }
    p {
      font-size: 0.8rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}

//Artifices

$particles: 60;
$width: 500;
$height: 400;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (
      1s bang ease-out 3s backwards,
      1s gravity ease-in 3s backwards,
      5s position linear 3s backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 8s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
